@import "tailwindcss";

@theme {
  --color-base: #fdfdfd;
  --color-content: #000717;
  --color-primary: #071233;
  --color-secondary: #355ef2;
  --color-info: #f25f35;
}

body {
  background: var(--color-base);
  color: var(--color-content);
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin-top: 260px;
  width: 100px;
}

h1 {
  font-family: var(--font-old-standard);
}

p {
  font-size: 22px;
  font-family: serif;
}
