@import "tailwindcss";

@theme {

  --color-primary: #071233;
  --color-secondary: #355ef2;
  --color-info: #f25f35;
}



:root {
  --color-base: #fdfdfd;
  --color-content: #000717;

}

.dark {
  --color-base: #000717;
  --color-content: #fdfdfd;

}

body {
  background: var(--color-base);
  color: var(--color-content);
  font-family: serif;
}


section {
  margin-top: 260px;
  width: 100%;
  max-width: 700px;
  padding: 0 1rem;
}


@media (max-width: 768px) {
  section {
    margin-top: 150px;
  }
}

h1 {
  font-family: var(--font-old-standard);
}


h2 {
  font-family: var(--font-old-standard);
  font-size: clamp(2.5rem, 5vw, 59.2px);
  font-weight: 700;
  margin-bottom: 16px;
}


h3 {
  font-family: var(--font-old-standard);
  font-size: clamp(1.5rem, 3vw, 36.65px);
  margin-bottom: 8px;
}


p {
  font-size: clamp(1rem, 2.5vw, 22.5px);
  color: var(--color-content);
  opacity: 0.75;
}


.time {
  font-family: serif;
  font-size: clamp(1.25rem, 2.5vw, 24px);
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 1px;
}